<h2>Fracturas del Vacio</h2>

<div class="alerts-container">
<mat-card class="card-alert" *ngFor="let fissure of fissures">
  <mat-card-header>
    <mat-card-title>{{fissure.tier}}
      </mat-card-title>
      <mat-card-subtitle>{{fissure.missionType +'  '+ fissure.enemy}}</mat-card-subtitle>
    </mat-card-header>
    <!--<img matCardImage src="Card wide image source"> -->
    <mat-card-content>
      {{fissure.eta}}
    </mat-card-content>
    <mat-card-actions align="start">        
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
